@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body {
    background: -webkit-linear-gradient(left, rgb(0, 0, 0), rgb(58, 58, 58));
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #4d0808;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #ed145b;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tela-login {
    overflow: hidden;
}

.chat-inp {
    position: fixed;
    width: 100% !important;
    left: 40px;
    bottom: 0;
}

.msg {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ed145b;
    border-radius: 10px;
    color: #fff;
}

.form-control:focus {
    border-color: #ed145b;
    box-shadow: 0 0 0 0.1rem rgba(237, 20, 91, 0.15);
}

.det {
    position: fixed;
    left: 100;
    top: 0;
}

.det2 {
    position: fixed;
    left: 0;
    top: 0;
}

.det3 {
    position: fixed;
    left: 0;
    bottom: 0;
}

.logo {
    margin-top: 14%;
}

.input-entrar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 0;
    border-radius: 0;
    color: #fff;
}

.input-entrar:focus {
    border: 0;
    color: #fff;
}

.btn-entrar {
    background-color: #ed145b;
    border-color: #ed145b;
    border-radius: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
}

.btn-entrar:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ed145b;
}

.btn-enviar {
    width: 60px;
    height: 60px;
    background-color: #ed145b;
    border-color: #ed145b;
    border-radius: 50%;
}

.btn-enviar:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ed145b;
}