html,
body {
    background: -webkit-linear-gradient(left, rgb(36, 36, 36), rgb(53, 52, 52));
    height: 100vh;
}

input {
    position: fixed;
    width: 90% !important;
    left: 0;
    bottom: 0;
}

.msg {
    background: #fff;
    border-radius: 10px
}