html,
body {
    background: -webkit-linear-gradient(left, rgb(36, 36, 36), rgb(97, 97, 97));
    height: 100vh;
}

input {
    position: fixed;
    width: 90% !important;
    left: 0;
    bottom: 0;
}

.msg {
    background: #fff;
    border: 2px solid #ed145b;
    border-radius: 10px;
}

.form-control:focus {
    border-color: #ed145b;
    box-shadow: 0 0 0 0.2rem rgba(237, 20, 91, 0.25);
}

.det {
    position: fixed;
    left: 100;
    top: 0;
}